<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.CodeParser" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Data" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Data.de" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Data.Desktop" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Data.Desktop.de" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.DataAccess" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Drawing" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Drawing.de" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Images" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Mvvm" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Office.Core" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core.de" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Pdf.Drawing" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Pdf.Drawing.de" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Printing.Core" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Printing.Core.de" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Core" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Controls" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Core" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Core.de" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Docking" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.DocumentViewer.Core" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.ExpressionEditor" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Grid" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Grid.Core" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Grid.Printing" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.LayoutControl" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Office" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Printing" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Ribbon" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.RichEdit" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Wpf.Themes.Office2019Colorful" version="23.2.3" targetFramework="net472" />
  <package id="DevExpress.Xpo" version="23.2.3" targetFramework="net472" />
</packages>